.circle-color {
  width: 30px;
  height: 30px;
  border: solid 4px black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.circle-color__red {
  border-color: #e90000;
}

.circle-color__orange {
  border-color: #e97e00;
}

.circle-color__yellow {
  border-color: #e9d100;
}

.circle-color__green {
  border-color: #66e900;
}
